@function colors() {
    @return
        #D8F5D8,
        #B3E0F2,
        #E1C6FF,
        #FFCB80,
        #FF9E80,
}

.row {
    width: 100%;
    display: flex;
    min-height: 150px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

    @media (max-width: 768px) {
        min-height: 120px;
    }

    &:first-child, &.default {
        border-top: 1px solid #000;
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            .list, .title {
                background: nth(colors(), $i);
            }
        }
    }
    
    .list {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
    }

    .title {
        font-size: 24px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #000;
        border-left: 1px solid #000;

        @media (max-width: 768px) {
            width: 100px;
            font-size: 16px;
        }
    }

    &.default {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #DEDEDE;

        .list {
            flex-wrap: nowrap;
            overflow-x: scroll;
            scrollbar-width: thin;
            scrollbar-color: nth(colors(), 5) transparent;
        }
    }
}
