@use '../../../variables.scss' as v;

@function colors() {
    @return
        v.$green,
        v.$blue,
        v.$pink,
        v.$orange,
        v.$red;
}

.row {
    width: 100%;
    display: flex;
    min-height: 150px;
    border-bottom: 1px solid v.$black;
    border-right: 1px solid v.$black;

    @media (max-width: 768px) {
        min-height: 130px;
    }

    &:first-child, &.default {
        border-top: 1px solid v.$black;;
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            .list, .title {
                background: nth(colors(), $i);
            }
        }
    }
    
    .list {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: 768px) {
            align-items: flex-end;
        }
  
    }

    .title {
        font-size: 24px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid v.$black;;
        border-left: 1px solid v.$black;;

        @media (max-width: 768px) {
            width: 100px;
            font-size: 16px;
        }
    }

    &.default {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border: none;
        border-top: 5px solid v.$yellow;
        background-color: v.$purple;

        .list {
            flex-wrap: nowrap;
            overflow-x: scroll;
            scrollbar-width: thin;
            scrollbar-color: v.$yellow transparent;
        }
    }
}
