@use './variables.scss' as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

ul {
    li {
        list-style: none;
    }
}

body {
    background-color: v.$purple;

    .notifications {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        max-width: 40%;

        .list__element {
            width: 100%;
        }
    }
}
